*{
	margin: 0%;
	padding: 0%;
}
ul{
	list-style: none;
}
body{
	position: relative;
	display: inline-block;
	width: 100%;
	height: max-content;
}
.sidebar{
	position: relative;
	width: 25%;
	height: 1000px;
	background-color: #0082CA;
	float: left;
}
.logo{
	height: 35%;
	width: 100%;
	background-color: #0082CA;
}
.logo img{
	position: relative;
	width: 90%;
	height: auto;
	/* margin: auto; */
	margin-right: 10%;
	margin-top:30% ;
}
.menu{
	position: relative;
	height: 35%;
	width: 100%;
	background-color: #0082CA;
	color: white;
}
.menu ul{
	width: 100%;
	margin: auto;
}
.menu li{
	width: 100%;
	margin: auto;
	padding: 10px;
	padding-left: 30%;
}
.menu li:nth-child(1){
	background-color: #025684;
}
.menu li:nth-child(2){
	background-color: #015F92;
}
.menu li:nth-child(3){
	background-color: #02679F;
}
.menu li:nth-child(4){
	background-color: #016EA9;
}
.menu li:nth-child(5){
	background-color: #007ABD;
}
.menu li:nth-child(6){
	background-color: #0282C9;
}
.menu li:nth-child(7){
	background-color: #1A2D3B;
}
.social{
	position: relative;
	height: 10%;
	width: 100%;
	margin: auto;
}
.social ul{
	position: relative;
	list-style: none;
	width: 50%;
	height: 60px;
	margin-left:30%;

}
.social li{
	position: relative;
	list-style: none;
	display: inline-block;
	margin: 2%;
	text-align: justify;
}
.fa{
	color: white;
	font-size: 24px !important;
}
.copyright{
	color: white;
	margin: auto;
	width: 100%;
	text-align: center;
}
.copyright p{
	color: white;
	margin-left: 30%;
	padding: 2%;
	padding-left: 0%;
	text-align: left;
}
.home{
	position: relative;
	width: 75%;
	height: 1000px;
	/* background-color: chartreuse; */
	float: right;
}
.contact{
	position: relative;
	width: 50%;
	height: 1000px;
	float: left;
	background-color: #3B5260;
}
.contact>h1,.contact>p,.contact>h4{
	text-align: justify;
	padding: 4%;
	color: white;
}
.contact>p{
	padding-left: 10%;
	color: grey;
	}
.contactinp{
	position: relative;
	width: 80%;
	margin: auto;
	/* background-color: yellow; */

}
hr{
	width: 90%;
	margin: auto;
	border-style: 1px dashed black ;
	
}
#inpcon{
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 5%;
	border-radius: 4px;
	border-style: none;
	color: white;
	background-color: #7798AB;
}
.msg{
	height: 100px;
}
#inpcon::placeholder{
	padding-left: 10%;
	color:white ;
}
#inpcon2{
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 5%;
	border-radius: 4px;
	border-style: none;
	color: white;
	padding-left: 9%;
	background-color: #7798AB;
}
#send{
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 5%;
	border-radius: 4px;
	border-style: none;
	color: white;
	background-color: #1A2D3B;
}
#send::placeholder{
	padding-left: 10%;
	color:white ;
}
.options{
	margin-left: 10%;
	padding-left: 10%;
	color:white ;
}

.cdetail{
	position: relative;
	width: 50%;
	height: 1000px;
	float: right;
	background-color:#3B5260;

}
.cdetail>h1,.cdetail>p,.cdetail>h4{
	text-align: justify;
	padding: 2%;
	padding-left: 5%;
	color: white;
}
.cdetail>p{
	padding-left: 22%;
	color: grey;
}
.map{
	position: relative;
	height: 250px;
	width: 80%;
	margin: auto;
	background-color: lightyellow;
	border-radius: 12px;
	margin-top: 10%;
	margin-bottom: 10%;
}
