*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

/* Navigation Starts */
nav{
  height: 80px;
  background-color: aqua;
  width: 100%;
  margin: 0px;
  position: relative;
}
.logo{
  position: relative;
  height: 100%;
  width: 30%;
  content: "Logo";
  /* background-color: cadetblue; */
  float: left;
  left: 0%;  
}
.logo p{
  position: relative;
  width: 40%;
  top: 20%;
  margin: auto;
  color: white;
  background-color: yellowgreen;
  border-radius: 6px;
  font-size: 2.2em;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ham{
  display: none;
  position: relative;
  /* background-color: whitesmoke; */
}
ul{
  position: relative;
  width: 70%;
  display: inline;
  height: 70px;
  float: right;
  right: 0%;
  margin: 0px;
  padding-top: 10px;
  padding-inline: 10px;
  /* background-color: yellow; */
}
li{
  display: inline;
  position: relative;
  float: left;
  left: 25%;
  margin: 3px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 1px;
  border-style:outset;
  cursor: pointer;
  font-size: 1em;
}
@media screen and (max-width:640px) {
  .ham{
    display: block;
    width: 15%;
    height: 100%;
    font-size: 24px;
    text-align: center;
  }
  .ham i{
    margin-top: 50%;
  }
  .logo{
    width: 85%;
    float: right;    
  }
  .logo p{
    position: relative;
    right:9%;
  }
  #menu{
    display: none;
  }
  ul{
    width: 100%;
    /* background-color: tomato; */
    height: fit-content;
    margin: 0%;
    padding: 0%;
    padding-inline:0;
    animation: ease-in;
    animation-duration: 30s;
  }
  li{
    width: 100%;
    left: 0%;
    margin: 0%;
    animation: forwards;
    animation-duration: 30s;
  }
  
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  border-color: transparent;
  border-style: none;
  padding: 10px;
}
nav li:hover{
  font-size: 1.01rem;
  background-color: rgb(10, 255, 220);
  border-style:ridge;

}
/* Slider Starts */
.slides {display:none;}

.column {
  position: relative;
  float: left;
  width: 33%;
  padding: 10px;
  height: 300px;
  margin: 0.15%;
  border-style: inset;
  border:2px solid aquamarine;
  box-shadow: aquamarine;
}
.column img{
  position: relative;
  width: 90%;
  height: auto;
  margin: auto;
}
.column p{
  position: relative;
  width: 90%;
  height: auto;
  margin: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}